{% extends 'app_queue/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{%  block content %}
<div class="container mt-5">
    <a href="{% url 'create_queue' %}">
        <button type="button" class="btn btn-primary">Add Queue</button>
    </a>
    <h1>Your Queues</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr >
            <th scope="col">Name</th>
            <th scope="col">Group</th>
            <th scope="col">Subject</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for queue in user_queues %}
        <tr onclick="window.location='{{ queue.get_path }}';">
            <td>{{ queue.name }}</td>
            <td>{{ queue.group }}</td>
            <td>{{ queue.subject }}</td>
            <td>{{ queue.description }}</td>
            <td>{{ queue.created_at }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
